{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered">
        <tr>
            <td>#</td>
            <th>Min</th>
            <th>Optimum</th>
            <th>Max</th>
        </tr>
        <tr>
            <td>Speed spindel</td>
            <td class="text-muted">{{ output['min_speed'] }}</td>
            <td>{{ output['mean_speed'] }}</td>
            <td class="text-muted">{{ output['max_speed'] }}</td>
        </tr>
        <tr>
            <td>Speed cutting</td>
            <td class="text-muted">{{ output['min_cut'] }}</td>
            <td>{{ output['mean_cut'] }}</td>
            <td class="text-muted">{{ output['max_cut'] }}</td>
        </tr>
        <tr>
            <td>Speed feed</td>
            <td class="text-muted">{{ output['min_feed'] }}</td>
            <td>{{ output['mean_feed'] }}</td>
            <td class="text-muted">{{ output['max_feed'] }}</td>
        </tr>
        <tr>
            <td>Feed tooth</td>
            <td colspan="3" class="text-center">{{ output['fz'] }} mm</td>
        </tr>
    </table>
        <ul class="list-inline">
            <li>Materials: <span class="badge">{{ input['materials'] }}</span></li>
            <li>Cutter diameter: <span class="badge">{{ input['diametr'] }} mm</span></li>
            <li>Count tooth: <span class="badge">{{ input['tooth'] }}</span></li>
        </ul>
    <a href="{{ url_for('index') }}" class="btn btn-default btn-lg">Return</a>
    <br>
{% endblock %}